@import 'reset';
@import url(https://fonts.googleapis.com/css?family=VT323);

/* Main styles */

$blue: rgba(78, 110, 255, 1);
$white: rgba(255,255,255,1);
$boxSize: 35px;

.title {
  text-align: center;
  background-color: $blue;
  h1 {
    padding: 20px;
    font-size: 60px;
    color: $white;
    font-family: 'VT323';
  }
}

.score-container {
  background-color: $blue;
  padding: 30px;
  font-size: 30px;
  text-align: center;
  color: $white;
  .frame {
    border: 3px solid $white;
    border-right: 0;
    display: inline-block;
    width: $boxSize * 2;
    height: $boxSize * 2;
    &:last-child {
      border-right: 3px solid $white;
      width: $boxSize * 3;
    }
    
    .balls {
      height: $boxSize;
      .ball {
        display: inline-block;
        text-align: center;
        width: $boxSize;
        height: $boxSize;
      }
      .ball2,.ball3 {
        background-color: $white;
        color: $blue;
        height: $boxSize;
      }
    }
  }
}